fastapi>=0.100.0
uvicorn>=0.23.0
python-multipart
sse-starlette
langchain>=0.1.0
langchain-openai
langchain-community
langgraph>=0.0.10
langchain-core
requests
pymupdf>=1.23.0
beautifulsoup4
redis
python-dotenv
uuid
asyncio
langgraph-checkpoint-redis
dashscope>=1.14.0
langchain_qdrant
arxiv>=2.0.0
qdrant-client>=1.7.0
lxml
pydantic-settings